*{
    font-family: "Press Start 2P", cursive, "Merriweather", "Open Sans", serif, sans-serif;
    color: #000;
}
h1{
	color: #eee;
}
p{
	color: black;
}
.question{
	text-align: center;
	font-size: 18px;
}
#background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}
.stretch {
	width: 100%;
	height: 100%;
}
.btn-lg {
	color: black;
}
.contentContainer {
	background-color: #eee;
	border-radius: 25px;
	border: 2px solid black;
	padding: 20px;

}
.answerchoice{
	text-align: center;
}
.answerchoice:hover {
	color: red;
	font-size:125%;
}
#image-holder{
	text-align:center;
}
.wrongAnswer{
	text-align: center;
}